*{
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin: 0;
    transition: all 0.5s;
}
header{
    padding: 5px;
    gap: 5px;
    display: flex;
    align-items: left;
    background-color: #542a54;
    color: #dedede;
}
footer {
    padding: 10px 0;
    display: flex;
    width: 100vw;
    background-color: #542a54;
    color: #dedede;
}
#lg{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
#sbtt{
    width: 100vw;
    display: block;
}
.credits{
    padding: 22px 25px;

}



title{
    display: none;
}
body{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ab5068;
    width: 100%;
    min-height: 100vh;
}
.main{
    padding: 20px 0;
    display: flex;
    flex-direction: column;
}
.card{
    border-radius: 8px;
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 320px;
    height: 180px;
    background-color: #542a54;
    color: #dedede;
}
.card:hover{
    box-shadow: 0  0 20px #888;
}
.back{
    display: none;
}
.front{
    display: block;
}
.cgg{
    gap: 10px;
    display: flex;
    flex-direction: row;
}









.modal {
  display: none; /* escondida por padrão */
  position: fixed;
  z-index: 1000;
  left: 0; top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5); /* fundo escuro transparente */
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto; /* centralizar vertical e horizontal */
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 600px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
}




.linha-vertical {
            height: 70vw;          
            width: 2px;              
            background-color: #fff; 
            display: inline-block; 
            margin: 0 10px;
        }