*{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}
header{
    background-color: #542a54;
    color: #dedede;
}
main {
    background-color: #9c3d5f;
}       
footer {
    background-color: #542a54;
    color: #dedede;
}